.kol1{
  background-color: lightgrey;
}

.kol2{
  background-color: lightyellow;
}

.kol0 {
  background-color: red;
}

img.img-rounded {
  width: 100px;
  mix-blend-mode: multiply;
}

.bg-1 {
  background-color: #080C3B; /* Green */
  color: #7E82B1;
}

.bg-2 {
  background-color: #323776; // 545993; /* Green */
  color: #7E82B1;
}

.bg-2 {
  background-color: #545993; /* Green */
  color: #7E82B1;
}


.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
color: #1abc9c !important;
}

.fotokader {
  padding-top: 20px;
  padding-bottom:20px;
}

.prescontainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.prescontaineritem{
  background-color: #ECE0F8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
}
